#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  background-color:rgb(255, 183, 0);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 34px;
}

#myBtn:hover {
  background-color: #555;
}